.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

form {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
}
input {
  padding: 10px;
  margin-top: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  
}

.toppings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  color: goldenrod
}

button {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  color: rgb(10, 128, 128);
  background-color: rgb(200, 228, 228);

}

button:hover {
  background-color:black;
  color:white;
}

button:disabled {
  background-image: none;
  background-color: white;
  cursor: not-allowed;
}
.home_button {
  background-color:gray;
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  background-color: gray;
}

.pizza_link {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

}

.pizza_link a {
  text-decoration: none;
  font-weight: bolder;
  color: orangered;
  margin-right: 20px;
}

.pizza_link a:hover {
  color:black;
}

img {
  width: 500px;
  height:600px;
  border: 2px black dotted;
  border-radius: 15px;
}

p {
  color:red;
}